body {
  background-color: rgb(5, 68, 77);
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://cdn-images-1.medium.com/max/2000/1*o-9xgkkyBgkhnBVN_Wxs6Q.png);
  opacity: 0.8; */
}
.loginform {
  background-color: azure;
  color: rgb(241, 45, 78);
  border-radius: 5px;
  border: 1px solid rgb(253, 252, 252);
  padding: 50px 50px;
  margin-top: 18vh;
  -webkit-box-shadow: 11px 12px 23px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 12px 23px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 12px 23px -9px rgba(0, 0, 0, 0.75);
}

#inidah{
  background-color: rgb(172, 24, 24);
}

body {
  width: 100%;
  height: auto;
}
h2 {
  margin-left: 20px;
  color: azure;
}

#material {
  margin-left: 20px;
}

#rownavbar {
  /* border: 1px solid white; */
  background-color: black;
}

#yo {
  border: 1px solid white;
  margin-top: 10px;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
}

#buton {
  color: azure;
}

a {
  color: rgb(243, 241, 239);
}

#mak {
  /* border: 1px solid white; */
}

.textArea {
  border-radius: 5px;
  border: none;
}

#brand {
  color: azure;
}
#listnya {
  color: azure;
}
#inidah {
  background-color: rgb(172, 24, 24);
}

#timing {
  color: white;
  /* border: 1px solid black; */
}

#inidah {
  background-color: rgb(172, 24, 24);
}

#yadah {
  color: azure;
}

.loginform {
  background-color: azure;
  color: rgb(241, 45, 78);
  border-radius: 5px;
  border: 1px solid rgb(253, 252, 252);
  padding: 50px 50px;
  margin-top: 18vh;
  -webkit-box-shadow: 11px 12px 23px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 12px 23px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 12px 23px -9px rgba(0, 0, 0, 0.75);
}
#inidah {
  background-color: rgb(172, 24, 24);
}
#inida {
  background-color: rgb(172, 24, 24);
}

.fb {
  background-color: #3B5998;
  color: white;
}

.container {
  /* border: 1px solid white; */
}

.loginform {
  background-color: azure;
  color: rgb(241, 45, 78);
  border-radius: 5px;
  border: 1px solid rgb(253, 252, 252);
  padding: 50px 50px;
  margin-top: 18vh;
  -webkit-box-shadow: 11px 12px 23px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 12px 23px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 12px 23px -9px rgba(0, 0, 0, 0.75);
}

#inidah {
  background-color: rgb(172, 24, 24);
}
#inida {
  background-color: rgb(172, 24, 24);
}

#iyaiyaa {
  /* border: 1px solid black; */
  padding: 3px;
}

#nihgan {
  /* border: 2px solid blue; */
  margin-top: 78px;
}

#yakeles{
  margin-top: 100px;
  /* border: 2px solid rgb(1, 1, 22); */

}